<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar.html::cabecera('Viajes')">
</head>
<body>
    <nav th:replace="navbar.html::navbar('viajes')"></nav>
    <h1>Lista de Viajes Programados</h1>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a class="btn btn-success" href="/">Nuevo Viaje</a>
        </div>
    </div>
    <div class="alert alert-success" th:if="${confirmacion!=null}" th:text="${confirmacion}"></div>
    <table style="width: 100%">
        <thead class="bg-primary">
            <tr>
                <th>Persona Titular</th>
                <th>Destino</th>
                <th>Cantidad de Perros</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="bg-primary-light">
        <tr th:each="tecnico:${listaViajes}">
            <td ></td>
            <td ></td>
            <td th:text="${tecnico.cant_perros}"></td>
            <td><a class="btn btn-info" th:href="">Editar</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>